{% extends 'base.html' %}
{% block zawartosc %}
    <table>
        <thead>
            <tr>
                <th>Tytuł</th><th>Autor</th>
            </tr>
        </thead>
    <tbody>
    {% for element in books %}
        <tr>
            <td>{{ element.title }}</td>
            <td>{{ element.author }}</td>
            <td><a href="/delete_book/{{ loop.index0 }}">usuń</a></td>
            <td><a href="/update_book/{{ loop.index0 }}">edycja</a></td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
{% endblock %}